body 
{
  background-color: linen;
  color: red;
  font-size: 1.1em;
}

h1 
{
  color: red;
}

#intro 
{
  font-size: 1.3em;
}

nav#horz ul li
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colorful 
{
  color: orange;
}
