body 
{
  background-color: linen;
  color: red;
  font-size: 1.1em;
}

h1 
{
  color: red;
}

#intro 
{
  font-size: 1.3em;
}

nav#horz ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.colorful 
{
  color: orange;
}
