body 
{
  background-color: linen;
  font-family: 'Times New Roman', sans-serif;
  color: red;
  font-size: 1.1em;
}

h1 
{
  color: #191970;
}

h2
{
  color: #FF4500;
}

h3
{
  color: #00008B;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

ul#list-nav 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#list-nav li 
{
  display:inline
}

ul#list-nav li a 
{
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  background:#D2691E;
  color: #006400;
  float:left;
  border-left:1px solid #fff;
}

ul#list-nav li a:hover 
{
  background:#a2b3a1;
  color:#000
}

#wrap
{
  height: 100%; 
  max-width: 80em; 
  margin: auto;
}
